header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;

    margin-left: 5%;
    width: auto;
    height: 50%;

    margin-right: 5%;
    color: black;
    background-color: antiquewhite;
    

}
h2{
 color: cadetblue;
}