body{
    margin: 0px;
}
header{
    color: aliceblue;
    position: relative;
    text-align: center;
    width: 100%;
    border: solid navy;
    background-color: navy;
    
}

ul{
    padding: 0;
    list-style: none;
    display: inline;
    margin-inline-start: 0;
}
li{
    display: inline-block;
}


#lista_categorias{
    display: none;
}
